

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Environment variables
.env
.env.*
!.env.example

# Generated reports and confidential test data
Test_result/


# Local files
desktop.ini
*.zip
